@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #282a36; /* Dark background */
    color: #f8f8f2; /* Light text */
    display: flex;
    flex-direction: column;
}

/* HEADER STYLES */
header {
    background-color: #272c46;
    /* Dark shade for contrast */
    color: #ffffff;
    position: fixed;
    
    width: 100%;
    z-index: 1000;
    
    transition: opacity 0.5s ease, top 0.5s ease;
    top:-100px;
    visibility: hidden;
}

header.visible { 
    
    visibility: visible;
    top: 0;    /* For sliding effect */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    /* Adjusts the padding around the content */
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    /* Spacing between links */
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #4A90E2;
    /* Highlight color on hover */
}


h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

/* SECTION STYLES */
/* Section styles */
.section {
    min-height: 100vh; /* Each section will take up at least the full height of the viewport */
    display: block;
    padding: 2em; 
}

.home-section {
    background-color: #272c46;
    min-width: 80%;
    min-height: 90%;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 20px;

    /* Center Text */
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    /* Centers content vertically */
}

.about-section { 
    padding-top: 5em;
}

/* ANIMATIONS */
/* Cursor styles */
#typing::after {
    content: '|';
    color: grey; /* Cursor color */
    font-weight: bold;
    animation: blink 0.7s infinite step-start;
}

/* Blinking animation */
@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Adding a bit of responsive design */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }
}


