@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #282a36; /* Dark background */
    color: #f8f8f2; /* Light text */
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

/* SECTION STYLES */
/* Section styles */
.section {
    min-height: 100vh; /* Each section will take up at least the full height of the viewport */
    display: block;
    padding: 2em;
}

.home-section {
    background-color: #272c46;
    min-width: 80%;
    min-height: 90%;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 20px;

    /* Center Text */
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    /* Centers content vertically */
}

/* ANIMATIONS */
/* Cursor styles */
#typing::after {
    content: '|';
    color: grey; /* Cursor color */
    font-weight: bold;
    animation: blink 0.7s infinite step-start;
}

/* Blinking animation */
@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Adding a bit of responsive design */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }
}


